.baner{
    height: 733px;
    width: 1010px;
    margin: 0 auto;
    position: relative;
}
.img{
    position: absolute;
    text-align: center;
}

.kolo_1{
    width: 150px;
    height: 150px;
    background-color: #c8c10d;
    border-radius: 50%;
    position: absolute;
    left: 690px;
    bottom: 80px;
   
    
}

.kolo_2{
    width: 150px;
    height: 150px;
    background-color: #cb3362;
    border-radius: 50%;
    position: absolute;
    left: 705px;
    bottom: 90px;
    filter: opacity(0.9);
}

.text1{
    position: absolute;
    font-family: LatoR;
    color: white;
    left: 730px;
    bottom: 160px;
    font-size: 30px;
}

.text2{
    position: absolute;
    font-family: LatoR;
    color: white;
    left: 726px;
    bottom: 130px;
    font-size: 30px;
}