.bg-blog h4{
    color: #cb3362;
    font-family: LatoR;
    padding: 10px;
    font-size: 23px;
}

.bg-blog h3{
    color: #cb3362;
    font-family: LatoR;
    font-size: 28px;
}

.bg-blog h6{
    color: rgb(111, 107, 107);
    font-family: LatoR;
    
    font-size: 10px;
}

.bg-blog p{
    color: rgb(111, 107, 107);
    font-size: 15px;
    font-family: LatoR;
    font-size: 18px;
}

.bg-bl1{
    float: right;
}
.bg-bl2{
    float: right;
}

.bg-blog1{
    width: 630px;
    height: 600px;
    font-family: LatoR;
    padding: 15px;    
  
   
}

.bg-blog2{
    background: #eae7e8;
    height: 600px;
    width: 250px;
    text-align: center;
    font-family: LatoR;
    padding: 15px;
    margin: 15px;
   

    

}


.bg-blog1 img{
    height: 250px;
    width: 250px;
    float: left;
}

.blog hr{
    clear: both;
    background-color: #cbb5bc;
    width: 500px;
    height: 3px;
    margin: 40px;
    border: none;
}
.blog .button{
    text-align: center;
    margin-top: 40px;
}
.bg-blog .button button, .button2 button{
    text-align: center;
    text-transform: uppercase;
    width: 170px;
    height: 50px;
    background: white;
    color: #7a6666;
    font-family: LatoR;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid #cbb5bc;
    cursor: pointer;
}

.blog .button2{
    clear: both;
    margin: 100px 0px 100px 200px;
}

.blog .bg-blog2 .button button{
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    background: #eae7e8;
    color: #7a6666;
    font-family: LatoR;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #cbb5bc;
    margin-top: 30px;
    cursor: pointer;
}