.pr-baner{
    height: 920px;
}

.pr-baner h4{
    color: #cb3362;
    font-family: LatoR;
    padding: 15px;
    font-size: 25px;
    text-align: left;
}

.pr-baner p{
    color: rgb(111, 107, 107);
    font-size: 15px;
    font-family: LatoR;
    text-align: left;
}



.pr-baner li{
    display: inline-block;
    width: 24.5%;
    text-align: center;
}

.pr-baner a{
    color: #cb3362;
    text-decoration: none;
    line-height: 30px;
    font-family: LatoR;

}
.pr-baner img{
    height: 230px;
    width: 245px;
}





