.single h4{
    color: #cb3362;
    font-family: LatoR;
    padding: 10px;
    font-size: 18px;
}

.single h3{
    color: #cb3362;
    font-family: LatoR;
    font-size: 20px;
}

.single h6{
    color: rgb(111, 107, 107);
    font-family: LatoR;
    
    font-size: 10px;
}

.single p{
    color: rgb(111, 107, 107);
    font-size: 15px;
    font-family: LatoR;
}

.single_1{
    width: 650px;
    height: 600px;
    font-family: LatoR;
    padding: 15px;
        
   
}


.single_2{
    background: #eae7e8;
    height: 600px;
    width: 250px;
    text-align: center;
    font-family: LatoR;
    padding: 15px;
    margin: 15px;
    

}